.claude/
Claude prompts.txt
img/old/
watermark.py
verify_watermark.py
img/C64_Brick_PowerSupply_Cords_US-CA.jpg
img/C64-Brick-PowerSupply-US-CA.jpg
img/Hammond_1551GGY_BK.jpg  (1).png
img/Hammond_1551GGY_BK.jpg.png
img/Fully_assembled_C64_Saver__v2_4__Plugged_In.jpg
img/favicon_BluBg.ico
img/C64 Saver V2.4 3D Printed Case by @leelegionsmith_orig.jpg
img/C64-PSU-Brick-Beige.png
img/C64-PSU-Wedge-Beige - Lrg.png
img/C64-PSU-Wedge-Beige-OLD.png
img/C64-PSU-Wedge-Beige.png
img/Gemini_Generated_Image_xhzql7xhzql7xhzq.png
img/Hammond_1551GGY_BK_orig.jpg
img/Hammond_1551GTBU.jpg
img/c64-psu-uscan-euro-divider-16-9-old.png
