.claude/
Claude prompts.txt
img/old/
img/C64_Brick_PowerSupply_Cords_US-CA.jpg
img/C64-Brick-PowerSupply-US-CA.jpg
img/Hammond_1551GGY_BK.jpg  (1).png
img/Hammond_1551GGY_BK.jpg.png
img/Fully_assembled_C64_Saver__v2_4__Plugged_In.jpg
img/favicon_BluBg.ico
